.primary{
    color: orchid;
}

.font-xl{
    font-size: 30px;
}

.border{
    border-color: black;
    border-radius: 3px;
    border-top: 3px;
    background-color: aqua;
    margin: 0;
    padding: 0;
}